version: "3.8"

services:
  namenode:
    image: ${HADOOP_RUNNER_IMAGE}:${HADOOP_RUNNER_VERSION}
    hostname: namenode
    command: /init/init
    volumes:
      - /lab/:/lab/
      - /opt/hadoop/:${HADOOP_HOME}
      - ./config/:${HADOOP_HOME}/etc/hadoop/
      - ./hadoop-init/:/init/
    ports:
      - 9870:9870
      - 8088:8088
    environment:
      - HADOOP_HOME=${HADOOP_HOME}
      - HADOOP_USER_NAME=${HADOOP_USER_NAME}
      - HADOOP_OPTS=--add-opens=java.base/java.lang=ALL-UNNAMED
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "curl -f http://localhost:9870/ && curl -f http://localhost:8088/",
        ]
      interval: 30s
      timeout: 10s
      start_period: 30s
      retries: 3

  spark-master:
    image: ${SPARK_IMAGE}:${SPARK_VERSION}
    hostname: spark-master
    command: /init/init
    volumes:
      - /lab/:/lab/
      - ./spark-init/:/init/
      - ./config/:/var/config/hadoop/
    environment:
      - HADOOP_HOME=${HADOOP_HOME}
      - HADOOP_USER_NAME=${HADOOP_USER_NAME}
      - HADOOP_OPTS=--add-opens=java.base/java.lang=ALL-UNNAMED
    ports:
      - "8080:8080"

  hiveserver:
    image: ${HIVE_IMAGE}:${HIVE_VERSION}
    hostname: hiveserver
    entrypoint: /init/init
    environment:
      - SERVICE_NAME=hiveserver2
      - HIVESERVER2_PID_DIR=/tmp/hive
      - HADOOP_HOME=${HADOOP_HOME}
      - HADOOP_USER_NAME=${HADOOP_USER_NAME}
      - HIVE_USER_NAME=${HIVE_USER_NAME}
      - HIVE_HOME=${HIVE_HOME}
    volumes:
      - /lab/:/lab/
      - ./hive-init/:/init/
      - ./config/:${HIVE_HOME}/conf/
      - ./config/:${HADOOP_HOME}/etc/hadoop/
    ports:
      - "10000:10000"
      - "10002:10002"
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:10002/ || exit 1"]
      interval: 30s
      timeout: 10s
      start_period: 60s
      retries: 5
    depends_on:
      namenode:
        condition: service_healthy

  client:
    image: ghcr.io/ca4022/csc1109-sandbox-client
    environment:
      - SHELL=bash
      - HADOOP_HOME=${HADOOP_HOME}
      - HADOOP_USER_NAME=${HADOOP_USER_NAME}
      - HADOOP_OPTS=--add-opens=java.base/java.lang=ALL-UNNAMED
      - HIVE_HOME=${HIVE_HOME}
      - HIVE_USER_NAME=${HIVE_USER_NAME}
    ports:
      - 8888:8888
    depends_on:
      namenode:
        condition: service_healthy
      hiveserver:
        condition: service_healthy
      spark-master:
        condition: service_started
    working_dir: /lab/
    volumes:
      - /lab/:/lab/
      - ./config/:${HADOOP_HOME}/etc/hadoop/
      - /opt/hive:${HIVE_HOME}
      - ./config:${HIVE_HOME}/conf
    stdin_open: true
    tty: true
    healthcheck:
      test: ["CMD-SHELL", "/etc/jupyter/docker_healthcheck.py || exit 1"]
      interval: 3s
      timeout: 1s
      start_period: 3s
      retries: 3
