[Unit]
Description=Deploy Cluster Stack
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/opt/stack/
EnvironmentFile=/env
ExecStart=/bin/sh -c "/root/.local/share/uv/tools/podman-compose/bin/podman-compose --in-pod cluster up --pull --force-recreate --no-start && /usr/bin/podman pod start cluster"
ExecStop=/usr/bin/podman pod stop cluster
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
